---
import BoxContainer from "./BoxContainer.astro";
import Download from "./icons/Download.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
---

<section id="aboutme" class="scroll-mt-12">
  <h2
    class="text-3xl font-extrabold tracking-tight mb-2 text-slate-300 my-6 text-center"
  >
    About me
  </h2>
  <BoxContainer>
    With over 6 years of experience in the IT sector, I have developed a strong
    focus on <span class="text-yellow-200 font-semibold"
      >modern web technologies</span
    >, thriving in environments that demand <span
      class="text-yellow-200 font-semibold">continuous learning</span
    >
    and <span class="text-yellow-200 font-semibold">adaptation</span>. I am
    <span class="text-yellow-200 font-semibold">highly motivated</span> and
    <span class="text-yellow-200 font-semibold">proactive</span>, eager to
    tackle new challenges and
    <span class="text-yellow-200 font-semibold">deliver real value</span> through
    <span class="text-yellow-200 font-semibold">innovative solutions</span>. My
    goal is to keep growing as a developer and contribute to
    <span class="text-yellow-200 font-semibold">impactful projects</span> with strong,
    clean code.
    <div class="flex flex-wrap gap-4 mt-6 justify-center">
      <a
        href="https://github.com/JuanLu90"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 px-4 py-2 bg-gray-800 text-white text-sm rounded-lg hover:bg-gray-700 transition-colors duration-200"
      >
        <Github class="w-5 h-5" />
        GitHub
      </a>

      <a
        href="mailto:juanlu.calderon@gmail.com"
        class="flex items-center gap-2 px-4 py-2 bg-gray-800 text-white text-sm rounded-lg hover:bg-gray-700 transition-colors duration-200"
      >
        <Mail class="w-5 h-5" />
        Email
      </a>

      <a
        href="https://www.linkedin.com/in/juanlumoreno/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 px-4 py-2 bg-gray-800 text-white text-sm rounded-lg hover:bg-gray-700 transition-colors duration-200"
      >
        <LinkedIn class="w-5 h-5" />
        LinkedIn
      </a>

      <a
        href="/cv-juan_luis_moreno.pdf"
        download
        class="flex items-center gap-2 px-4 py-2 bg-yellow-500 text-black text-sm font-semibold rounded-lg hover:bg-yellow-400 transition-colors duration-200"
      >
        <Download class="w-5 h-5" /> Download CV
      </a>
    </div>
  </BoxContainer>
</section>
