---
interface NavItem {
  label: string;
  href: string;
}

const navItems: NavItem[] = [
  { label: "About me", href: "#aboutme" },
  { label: "Experience", href: "#experience" },
  { label: "Projects", href: "#projects" },
];
---

<header
  class="fixed top-0 left-0 w-full bg-background/80 backdrop-blur-sm z-50"
>
  <nav class="max-w-4xl mx-auto flex justify-center py-4">
    <ul class="flex gap-8">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              data-spy-link
              class="font-semibold transition-colors duration-200 text-slate-300 hover:text-accent"
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
