<section>
  <div class="z-10 text-center">
    <h1
      class="text-4xl sm:text-5xl font-extrabold tracking-tight text-slate-300"
    >
      Juan Luis Moreno
    </h1>
    <p class="text-2xl sm:text-3xl font-bold mb-6 mt-2 sm:mt-4 text-yellow-500">
      Frontend Developer
    </p>
  </div>
</section>
