---
const { height = "h-32" } = Astro.props;
---

<div class="flex flex-col items-center">
  <div class={`w-1 bg-slate-300 ${height} mb-2`}></div>
  <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
</div>
