---
import Header from "../components/Header.astro";

const { title = "Juan luis Moreno | Frontend Developer", children } =
  Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen min-w-full font-sans text-primary m-0 bg-slate-900">
    <Header />
    <div class="max-w-3xl w-full mx-auto my-20 px-4">
      <slot />
    </div>
  </body>
</html>
